<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH_UNIQLO.Properties.Settings.QLBH_UNIQLOConnectionString"
            connectionString="Data Source=MINHDEPTRAI\SQLEXPRESS;Initial Catalog=QLBH_UNIQLO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBH_UNIQLO.Properties.Settings.test3ConnectionString"
            connectionString="Data Source=MINHDEPTRAI\SQLEXPRESS;Initial Catalog=test3;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QLBH_UNIQLO.Properties.Settings.QLBH_TCH_UNIQLOConnectionString"
            connectionString="Data Source=MINHDEPTRAI\SQLEXPRESS;Initial Catalog=QLBH_TCH_UNIQLO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>